<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1>Request Headers</h1>
  <pre><%= JSON.stringify(requestHeaders, null, 2) %></pre>

  <h1>Request Body</h1>
  <pre><%= JSON.stringify(requestBody, null, 2) %></pre>

</body>
</html>
